@charset "UTF-8";
/*configuração geral*/
*{
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serifw;
}   
p{
    text-align: justify;
}   
body{
    background-image: linear-gradient(to right, #20C0A5,#2B3332);
    
}
h1{
    color: #20C0A5;
    text-align: center;
    text-shadow:1px 1px 2px #127262c2;
}
h2{
    color:#366B62;
    text-shadow:1px 1px 2px #36706671;
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2b3332c5;
    
}